<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Calculadora compra vs. aluguel de imóvel</title>
</head>
<body>
    <h1>Compra vs. Aluguel</h1>

    <form method="post" action="/">
        {{ form.hidden_tag() }}

        <div>
            {{ form.valor_mensal_aluguel.label }} {{ form.valor_mensal_aluguel(size=10) }}
            {% for error in form.valor_mensal_aluguel.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.valor_compra_imovel.label }} {{ form.valor_compra_imovel(size=10) }}
            {% for error in form.valor_compra_imovel.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.taxa_valorizacao_imovel.label }} {{ form.taxa_valorizacao_imovel(size=10) }}
            {% for error in form.taxa_valorizacao_imovel.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.taxa_aumento_aluguel.label }} {{ form.taxa_aumento_aluguel(size=10) }}
            {% for error in form.taxa_aumento_aluguel.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.taxa_juros_aplicacao.label }} {{ form.taxa_juros_aplicacao(size=10) }}
            {% for error in form.taxa_juros_aplicacao.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>
